name: do_release

on:
  push:
    tags:
      - '*'

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      - 
        name: Install
        run: make setup
      -
        name: Run goreleaser
        working-directory: ${{ github.workspace }}
        run: docker run -e GITHUB_TOKEN=$GORELEASER_PAT --rm --privileged -v /var/run/docker.sock:/var/run/docker.sock -v $BUILD_PLS_DIR:$BUILD_PLS_DIR -w $BUILD_PLS_DIR mailchain/goreleaser-xcgo --rm-dist
        shell: bash
        env:
          GORELEASER_PAT: ${{ secrets.GORELEASER_PAT }}
          BUILD_PLS_DIR: ${{ github.workspace }}
