name: do_release

on:
  push:
    tags:
      - '*'

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Run goreleaser
        uses: docker://mailchain/goreleaser-xcgo:latest
        with:
          args: '--rm-dist'
        env:
          GORELEASER_GITHUB_TOKEN: ${{ secrets.GORELEASER_GITHUB_TOKEN }}
          BUILD_PLS_DIR: ${{ github.workspace }}
